
.logo{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Lobster Two', cursive;
  display: flex;
  margin-top: 2rem;
}

.nav{
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.nav svg{
  font-size: 2rem;
}